<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="insertBoard">
		INSERT INTO TB_BOARD
		VALUES (SEQ_BD.NEXTVAL, ?, ?, SYSDATE, NULL, NULL, ?, ?)
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		FROM TB_BOARD
		WHERE MEMBER_NO = ?
	</entry>
	
	<entry key="selectBoardList">
		SELECT *
		FROM ( SELECT ROWNUM RNUM, A.*
       		   FROM (SELECT ORDER_NO, BOARD_TITLE, CREATED_AT
               FROM TB_BOARD
               WHERE MEMBER_NO = ?
               ORDER BY BOARD_NO DESC)A
      		 )
		WHERE RNUM BETWEEN ? AND ?
	</entry>

</properties>