<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		FROM (SELECT PRODUCT_NAME, ORDER_NO, ORDERED_AT, FILE_NAME
        		FROM TB_ORDER
        		JOIN TB_ORDER_PRODUCT USING (ORDER_NO)
        		JOIN TB_PRODUCT USING (PRODUCT_NO)
        		JOIN TB_IMAGE USING (PRODUCT_NO)
       		   WHERE MEMBER_NO = 2
         		 AND IS_THUMBNAIL = 'Y')
	</entry>
	
	<entry key="orderNoSearch">
		SELECT PRODUCT_NO, PRODUCT_NAME,ORDER_NO, ORDERED_AT, FILE_NAME
        FROM TB_ORDER
        JOIN TB_ORDER_PRODUCT USING (ORDER_NO)
        JOIN TB_PRODUCT USING (PRODUCT_NO)
        JOIN TB_IMAGE USING (PRODUCT_NO)
        WHERE MEMBER_NO = ?
        AND IS_THUMBNAIL = 'Y'
	</entry>
	
	<!-- Cart 관련 쿼리  -->
	<entry key="insertCart">
		INSERT INTO TB_CART
		VALUES (?, ?, ?)
	</entry>
	<entry key="deleteCart">
		DELETE FROM TB_CART
		WHERE MEMBER_NO = ? 
		AND PRODUCT_NO = ? 
	</entry>
	<entry key="updateCart">
		UPDATE TB_CART
		SET AMOUNT = ( SELECT AMOUNT
		               FROM TB_CART
		               WHERE MEMBER_NO = ?
		               AND PRODUCT_NO = ?
		             ) + ?
		WHERE MEMBER_NO = ?
		AND PRODUCT_NO = ?
	</entry>
	<entry key="selectCart">
		SELECT PRODUCT_NO, FILE_NAME, PRODUCT_NAME, P_COLOR, AMOUNT, PRICE, DISCOUNT_RATE
		FROM TB_CART
		JOIN TB_PRODUCT USING (PRODUCT_NO)
		JOIN TB_IMAGE USING (PRODUCT_NO)
		WHERE TB_CART.MEMBER_NO = ?
		AND IS_THUMBNAIL = 'Y'
	</entry>
	<entry key="selectMemberGrade">
		SELECT * FROM TB_MEMBER_GRADE
		WHERE ? BETWEEN MIN AND MAX
	</entry>
	<entry key="setAmountCart">
		UPDATE TB_CART
		SET AMOUNT = ?
		WHERE MEMBER_NO = ?
		AND PRODUCT_NO = ?
	</entry>
</properties>